<div class="container justify-content-center mt-5">
  <%= link_to "Products", api_v1_products_path, class: "btn btn-dark" %>
  <%= link_to "Orders", api_v1_orders_path, class: "btn btn-dark ms-3" %>
  <%= link_to "Customers", api_v1_customers_path, class: "btn btn-dark ms-3" %>

  <div class="mt-4">
    <% if @products.present? %>
      <h4>Products</h4>
      <%= @products %>
    <% elsif @orders.present? %> 
      <h4>Orders</h4>
      <%= @orders %>
    <% elsif @customers.present? %> 
      <h4>Customers</h4>
      <%= @customers %>
    <% end %>
  </div>
</div>
