<div class="w-50 container text-center my-5">
<h3>Welcome, <%= cookies[:user_name].titleize %>.</h3>
  <table class="table table-bordered table-hover table-striped text-center mt-4">
      <thead class="table-dark">
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Category</th>
          <th scope="col">Description</th>
          <th scope="col">Date</th>
        </tr>
      </thead> 
      <tbody>
        <% @events.each do |event| %>
          <tr>
            <td><%= event.name %></td>
            <td><%= event.category.name %></td>
            <td><%= event.description %></td>
            <td><%= event.event_date %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </table>
</div>
