<h1>Hello <%= @name %> from Simform</h1>
<h3>College :- <%= @college %></h3>
<h3>Date Of Birth :- <%= @date_of_birth %></h3>
<h3>Hobbies :- <%= @hobbies %></h3>
<h3>Strength :- <%= @strength %></h3>
<h3>Weakness :- <%= @weakness %></h3>
