<div class="container justify-content-center my-5">
  <div class="w-50 m-auto"> 
    <table class="table table-bordered table-hover table-striped text-center mt-4">
      <thead class="table-dark">
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Description</th>
          <th scope="col">date</th>
          <th scope="col">Show</th>
          <th scope="col">Edit</th>
          <th scope="col">Delete</th>
        </tr>
      </thead>
      
      <tbody>
        <% @events.each do |event| %>
          <tr>
            <td><%= event.name %></td>
            <td><%= event.description %></td>
            <td><%= event.event_date %></td>
            <td><%= link_to "Show", event_path(event), :class => "btn btn-info py-0" %></td>
            <td><%= link_to "Edit", edit_event_path(event), :class => "btn btn-warning py-0" %></td>
            <td><%= link_to "Delete", event_path(event), :class => "btn btn-danger py-0", data: {
                turbo_method: :delete,
                turbo_confirm: :"Are You Sure?"
            } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <div class="container text-center mt-4">
      <a href="/events/new"><input class="btn btn-dark px-3" type="submit" value="New"></a>
      <a href="/events"><input class="btn btn-dark ms-3 px-4" type="submit" value="All"></a>
    </div>
  </div>
</div>
