<div class="container justify-content-center my-5">
  <h1 class="container text-center text-decoration-underline my-5">Book Id - <%= @book.id %></h1>
  <table class="table table-bordered container table-hover table-striped">

    <tbody>
      <tr>
        <th scope="row">Book Name</th>
        <td><%= @book.name %></td>
      </tr>

      <tr>
        <th scope="row">Price</th>
        <td><%= @book.price %></td>
      </tr>

      <tr>
        <th scope="row">Author's Id</th>
        <td><%= @book.author_id %></td>
      </tr>
    </tbody>
  </table>

  <div class="my-4">
    <%= link_to "Edit", edit_book_path(@book), :class => 'btn btn-dark px-4' %>
    <%= link_to "Delete", book_path(@book), :class => 'btn btn-dark ms-3', data: {
      turbo_method: :delete,
      turbo_confirm: :"Are You Sure?"
    } %>
  </div>
</div>
